<div class="post">
    <p>
        O projeto visa demonstrar as habilidades técnicas de desenvolvimento de
        sistemas e
        das tecnologias mais utilizadas atualmente no mercado para o desevolvimento
        WEB.
    </p>
    <p>
        Para o desevolvimento deste projeto foi planejado um serviço para o
        cadastramento,
        visualização, alteração e exclusão (CRUD) de Cursos Acadêmicos.
    </p>
    <p>
        <b>Serviço providos</b>
        <li>Gerenciamento dos Cursos: http://localhost8000/cursos</li>
        <li>
            API para integrações: http://localhost:90/api/curso
            <div class="mt-2">
                <b>Métodos disponíveis</b>
                <ul>
                    <li>Lista todos:
                        <code>GET -> http://localhost:90/api/curso</code>
                    </li>
                    <li>Visualizar:
                        <code>GET -> http://localhost:90/api/curso/id</code>
                    </li>
                    <li>Cadastrar:
                        <code>POST -> http://localhost:90/api/curso</code>
                    </li>
                    <li>Alterar:
                        <code>PATCH -> http://localhost:90/api/curso/id</code>
                    </li>
                    <li>Deletar:
                        <code>DELETE -> http://localhost:90/api/curso/id</code>
                    </li>
                </ul>
            </div>
        </li>
    </p>
    <p class="text-center">
        <a href="/cursos" class="btn btn-primary btn-md">Ir para o Gerenciamento de
            Cursos</a>
    </p>
</div>