<app-content [pageInfo]="pageInfo">
    <div class="row">

        <div class="col-lg-12 align-middle">
            <div class="position-relative p-3 bg-blue text-center">
                <h1>Projeto para a demonstração de habilidades técnicas</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mt-4">

            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Detalhes do Projeto - Capes Laravel/Angular</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                            <div class="row">
                                <div class="col-12">

                                    <app-projeto-apresentacao></app-projeto-apresentacao>
                                    <app-projeto-tecnologias></app-projeto-tecnologias>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                            <app-minha-apresentacao></app-minha-apresentacao>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</app-content>