<div class="wrapper">

    <!-- Navbar -->
    <app-nav-bar></app-nav-bar>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <app-main-side-bar></app-main-side-bar>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <app-control-side-bar></app-control-side-bar>
    <!-- /.control-sidebar -->
  
    <!-- Main Footer -->
    <app-footer></app-footer>
  </div>
  <!-- ./wrapper -->
  