<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">{{ pageInfo.name }}</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right" >
            <li class="breadcrumb-item" *ngFor="let bc of pageInfo.breadcrumbs; index as indexOfelement"><a [routerLink]="bc.link" [routerLinkActive]="['active']">{{ bc.label }}</a></li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  
  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
  
      <ng-content></ng-content>
  
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->