<h3 class="text-primary"><i class="fas fa-info-circle"></i> Sobre o Desenvolvedor</h3>

<div class="row">
    <div class="col-md-12">
        <div class="media">
            <img src="/assets/img/eu_3x4.jpg" alt="Foto (3x4)" class="img-size-50 mr-3 img-square">
            <div class="media-body">
                <h3 class="dropdown-item-title">Guilherme Carvalho da Silva</h3>
                <span class="text-sm">Desenvolvedor FullStack</span>
                <p class="text-sm text-muted">
                    <i class="fas fa-envelope mr-1"></i>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=gc.silva+capes@gmail.com"
                        target="_blank">gc.silva@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</div>

<p class="text-muted text-justify">
    Desenvolvedor Web FullStack com mais de 14 anos de experiência, capacitado para lidar
    com os desafios e enfrentar momentos de pressão.
</p>
<p class="text-muted text-justify">
    Cooperou na criação do Cadastro Nacional de Adoção (CNA/CNJ), no Cadastro de Crianças
    Abrigadas (CNCA) e no Cadastro de Adolescentes em Conflitos com a Lei (CNACL). Cadastro
    esses, de âmbito nacional e notoriedade no Judiciário.
</p>
<p class="text-muted text-justify">
    Além desses, trabalhou no desenvolvimento e na sustentação de diversos sistemas
    administrativos na Terracap e Montreal Turismo.
</p>
<p class="text-muted text-justify">
    Desde 2015, trabalha na Organização Pan-Americana de Saúde - OPAS como Consultor
    Nacional integrando a equipe OPAS Brasil e OPAS Washington.
</p>
<div class="text-muted">
    <a href="/assets/pdf/CV_Guilherme_Carvalho_da_Silva.pdf" target="_blank"
        class="btn btn-block btn-outline-primary btn-lg">Para conhecer melhor minha
        tragetória<br />Baixe meu Currículo</a>
</div>